/** generate by joycss v0.5.3, on time: 2013-09-15 17:31:07 */
.album-big:hover,
.icons:hover .album-big,
.album-big,
.album-small:hover,
.icons:hover .album-small,
.album-small,
.ks-ext-close,
.next-diabled,
.next:hover,
.icons:hover .next,
.next,
.prev-disabled,
.prev:hover,
.icons:hover .prev,
.prev,
.rotation-con:hover,
.icons:hover .rotation-con,
.rotation-con,
.rotation-pro:hover,
.icons:hover .rotation-pro,
.rotation-pro {
  background-image: url(http://gtms01.alicdn.com/tps/i1/T130yVFaFdXXbmZ.fS-270-252.png);
  background-repeat: no-repeat;
}
.album-big:hover,
.icons:hover .album-big {
  width: 52px;
  height: 52px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  background-position: 0 0;
}
.album-big {
  width: 52px;
  height: 52px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  background-position: -62px -124px;
}
.album-small:hover,
.icons:hover .album-small {
  width: 52px;
  height: 52px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  background-position: 0 -62px;
}
.album-small {
  width: 52px;
  height: 52px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  background-position: -62px -62px;
}
.ks-ext-close {
  width: 30px;
  height: 25px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  background-position: -228px -132px;
}
.next-diabled {
  width: 32px;
  height: 56px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  background-position: 0 -186px;
}
.next:hover,
.icons:hover .next {
  width: 32px;
  height: 56px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  background-position: -228px -66px;
}
.next {
  width: 32px;
  height: 56px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  background-position: -42px -186px;
}
.prev-disabled {
  width: 32px;
  height: 56px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  background-position: -186px 0;
}
.prev:hover,
.icons:hover .prev {
  width: 32px;
  height: 56px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  background-position: -186px -66px;
}
.prev {
  width: 32px;
  height: 56px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  background-position: -228px 0;
}
.rotation-con:hover,
.icons:hover .rotation-con {
  width: 52px;
  height: 52px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  background-position: 0 -124px;
}
.rotation-con {
  width: 52px;
  height: 52px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  background-position: -124px -62px;
}
.rotation-pro:hover,
.icons:hover .rotation-pro {
  width: 52px;
  height: 52px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  background-position: -124px 0;
}
.rotation-pro {
  width: 52px;
  height: 52px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  background-position: -62px 0;
}
