@import "../icons/icons.css";
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.albums-dialog {
  position: fixed;
  _position: absolute;
  top: 0;
  left: 0;
  z-index: 10003;
}
.albums-dialog .ks-ext-close {
  display: none;
}
.ks-dialog-hidden{
    display: none;
}
.album-mask {
  overflow: hidden !important;
}
.theme-default {
  background-color: rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#80000000, endColorstr=#80000000,GradientType=0 );
  width: 100%;
  height: 100%;
}
.theme-default .theme-wrap {
  padding: 30px;
}
.theme-default .close {
  display: block;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  width: 20px;
  height: 20px;
  text-decoration: none;
  position: absolute;
  right: 15px;
  top: 18px;
  z-index: 2;
}
.theme-default .close:hover {
  background-color: #666;
  color: #eee;
}
.theme-default img {
  max-width: none !important;
}
.theme-default .album-loading {
  background: url(http://img03.taobaocdn.com/tps/i3/T1b1m3XkVpXXXXXXXX-32-32.gif) no-repeat center center #ffffff;
}
.theme-default .album-preview-box {
  width: 150px;
  height: 150px;
  position: absolute;
  border: 1px solid #808080;
  left: 10px;
  top: 10px;
  z-index: 2;
  overflow: hidden;
  visibility: hidden;
  /*background-color: #000;*/
}
.theme-default .album-preview-box img {
  position: absolute;
  max-width: 150px;
  max-height: 150px;
}
.theme-default .album-thumb {
  position: absolute;
  width: 100px;
  height: 100px;
  overflow: hidden;
  top: -150px;
  left: -140px;
  border: 150px solid rgba(0, 0, 0, 0.4);
  margin: 149px\9;
  border: 1px solid #000\9;
}
.theme-default .box-main {
  position: relative;
  overflow: hidden;
  margin-right: 230px;
  border: 10px solid #fff;
  background-color: #fff;
}
.theme-default .box-main img {
  -webkit-transition: -webkit-transform 0.2s linear;
  -moz-transition: -moz-transform 0.2s linear;
  -ms-transition: -ms-transform 0.2s linear;
  -o-transition: -o-transform 0.2s linear;
  transition: transform .2s linear;
}
.theme-default .box-aside {
  width: 230px;
  position: absolute;
  top: 0;
  right: 0;
  _top: 7px;
  _right: 37px;
  background-color: #F5F5F5;
  overflow-y: auto;
}
.theme-default .box-aside .aside-wrap {
  padding: 10px;
}
.theme-default .box-aside .headline {
  line-height: 38px;
  font-size: 14px;
  border-bottom: 1px solid #E0E0E0;
}
.theme-default .box-aside .headline .num {
  font-size: 16px;
  font-weight: bold;
  padding-right: 10px;
}
.theme-default .box-aside .desc {
  line-height: 2em;
  padding-top: 8px;
}
.theme-default .box {
  position: relative;
  border: 7px solid #8F8F8F;
}
.theme-default .handers .next,
.theme-default .handers .prev {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  position: absolute;
  z-index: 10;
  top: 45%;
  cursor: pointer;
}
.theme-default .handers .prev {
  left: 45px;
}
.theme-default .handers .next {
  right: 275px;
}
.theme-default .step-last .next,
.theme-default .step-start .prev {
  visibility: hidden;
}
.theme-default .album-action-bar {
  position: absolute;
  bottom: 5px;
  left: 5px;
  _bottom: 67px;
  z-index: 11;
}
.fullscreen {
  background-color: #000;
}
.fullscreen .theme-wrap {
  padding: 0;
}
.fullscreen .close {
  background-color: transparent;
  color: #999;
}
.fullscreen .close:hover {
  background-color: transparent;
}
.fullscreen .box {
  border: none;
}
.fullscreen .box-aside {
  display: none;
}
.fullscreen .box-main {
  margin-right: 0;
}
.fullscreen .handers .next {
  right: 10px;
}
.fullscreen .handers .prev {
  left: 10px;
}
.fullscreen .box-main {
  background-color: #000;
  border-color: #000;
}
